/*Css*/
.select2-results__options {
    max-height: 330px !important;
    overflow-y: auto;
}
#product_entries td, #product_entries th,
#product_sales td, #product_sales th{
    font-size: 12px !important;
}
.modal-dialog .overlay.light{
    background-color: rgba(255,255,255,.5);
    color: #212529;
}
td#choose_product_holder {
    max-width: 400px;
}
